<template>
  <div>
    <el-table :data="skuInfoList" border style="width: 100%" :height="Height">
      <el-table-column type="index" label="序号" width="50" align="center">
      </el-table-column>
      <el-table-column label="名称" prop="skuName" align="center">
      </el-table-column>
      <el-table-column label="描述" prop="skuDesc" header-align="center">

      </el-table-column>
      <el-table-column label="默认图片" align="center" width="200px">
        <template slot-scope="scope">
          <img :src="scope.row.skuDefaultImg" style="width:80px">
        </template>
      </el-table-column>
      <el-table-column label="重量" prop="weight" align="center" width="200px">
      </el-table-column>
      <el-table-column label="价格" prop="weight" align="center" width="200px">
      </el-table-column>
      <el-table-column label="操作" width="300" align="center">
        <template slot-scope="scope">
          <el-button v-if="scope.row.isSale==0" size="mini" type="success" icon="el-icon-bottom" @click="offSaleBtn(scope.row)"></el-button>
          <el-button v-else size="mini" type="success" icon="el-icon-top" @click="onSaleBtn(scope.row)"></el-button>
          <el-button size="mini" type="primary" icon="el-icon-edit" @click="centerDialogVisible = true"></el-button>
          <el-button size="mini" type="info" icon="el-icon-info" @click="openSkuInfo(scope.row)"></el-button>
          <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="deleteSku(scope.row)">
            <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-drawer title="我是标题" :visible.sync="drawer" :with-header="false" size="50%" @closed='closedDrawer'>
      <el-row>
        <el-col :span="5">名称</el-col>
        <el-col :span="16">{{skuInfo.skuName}}</el-col>
      </el-row>
      <el-row>
        <el-col :span="5">描述</el-col>
        <el-col :span="16">{{skuInfo.skuDesc}}</el-col>
      </el-row>
      <el-row>
        <el-col :span="5">价格</el-col>
        <el-col :span="16">{{skuInfo.price}}</el-col>
      </el-row>
      <el-row>
        <el-col :span="5">平台属性</el-col>
        <el-col :span="16">
          <el-tag v-for="i in skuInfo.skuAttrValueList" :key="i.id">{{i.valueName}}</el-tag>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="5">商品图片</el-col>
        <el-col :span="16">
          <el-carousel :interval="5000" arrow="always" height="600px">
            <el-carousel-item v-for="i in skuInfo.skuImageList" :key="i.id">
              <img :src="i.imgUrl" style="height:600px;width:650px">
            </el-carousel-item>
          </el-carousel>
        </el-col>
      </el-row>
    </el-drawer>
    <div class="block" v-if="skuInfoList?true:false">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" :total="total" layout="prev, pager, next, jumper,total">
      </el-pagination>
    </div>

    <el-dialog title="提示" :visible.sync="centerDialogVisible" width="30%">
      <span>此功能正在开发中</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Sku',
  data () {
    return {
      Height: window.innerHeight - 130,
      skuInfoList: [],
      skuInfo: {},
      currentPage: 1,
      pageSize: 20,
      total: '',
      drawer: false,
      centerDialogVisible: false

    }
  },
  mounted () {
    this.getSkuList()
  },


  methods: {
    //获取sku列表数据
    async getSkuList () {
      try {
        let result = await this.$api.sku.reqSkuInfoList(this.currentPage, this.pageSize)
        this.total = result.data.total
        this.skuInfoList = result.data.records
      } catch (error) {

      }

    },

    //SKU上架
    async offSaleBtn (row) {
      try {
        await this.$api.sku.reqOnSale(row.id)
        this.$message({
          message: 'Sku 已上架',
          type: 'success'
        })
        this.getSkuList()
      } catch (error) {
      }
    },

    //SKU下架
    async onSaleBtn (row) {
      try {
        await this.$api.sku.reqOffSale(row.id)
        this.$message({
          message: 'Sku 已下架',
          type: 'success'
        })
        this.getSkuList()
      } catch (error) {
      }
    },

    //打开SKU弹窗
    async openSkuInfo (row) {
      this.drawer = true
      try {
        let result = await this.$api.sku.reqSkuById(row.id)
        this.skuInfo = result.data
      } catch (error) {

      }

    },

    //关闭sku弹窗
    closedDrawer () {
      this.skuInfo = {}
    },

    //删除sku
    async deleteSku (row) {
      try {
        let result = await this.$api.sku.reqDeleteSku(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getSkuList()
      } catch (error) {

      }
    },

    handleSizeChange (val) {
      this.currentPage = val
      this.getSkuList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getSkuList()
    },


  }
}
</script>
<style scoped>
.el-pagination {
  text-align: center;
  margin-top: 20px;
}

::v-deep .el-pagination__total {
  margin-left: 15px;
}

.el-row .el-col-5 {
  font-size: 18px;
  text-align: right;
}

.el-col {
  margin: 10px 10px;
}

.el-col .el-tag {
  margin-right: 10px;
}

.el-carousel__item img {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

.el-button--mini {
  margin-left: 10px;
}
</style>