<template>
  <div>
    <el-row>
      <el-input class="search_input" v-model="roleSearch" placeholder="输入角色名" style="width:208px"></el-input>
      <el-button type="primary" @click="search" icon="el-icon-search">查询</el-button>
      <el-button @click="resetSearch" style="width:89px">清空</el-button>
    </el-row>
    <el-row>
      <el-button type="primary" @click="addRole" style="width:98px">添加</el-button>
      <el-button :disabled="checkId.length>0?false:true" type="danger" @click="centerDialogVisible=true">批量删除</el-button>
    </el-row>

    <el-table :data="tableData" border style="width: 100%" class="table" :height="Height" @select="checked" @select-all='checkedAll' :row-key="row=>row.id" ref="multipleTable">
      <el-table-column type="selection" width="50" :reserve-selection="true">
      </el-table-column>
      <el-table-column prop="roleName" label="角色名称" align='center'>
      </el-table-column>
      <el-table-column label="操作" align='center'>
        <template slot-scope="scope">
          <el-button size="mini" type="info" icon="el-icon-user-solid" @click="addAuth(scope.row)"></el-button>
          <el-button size="mini" type="primary" icon="el-icon-edit" @click="editRole(scope.row)"></el-button>
          <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="deleteRole(scope.row)">
            <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :title="!formAddRole.id?'添加角色':'修改角色'" :visible.sync="dialogFormVisible" width="550px">
      <el-form :model="formAddRole" :rules="rules" ref="formAddRole">
        <el-form-item label="角色名" label-width="120px" prop="roleName">
          <el-input v-model="formAddRole.roleName" style="width:300px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="centerDialogVisible" width="30%">
      <span>确定要删除这些角色吗？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteAllRole">确 定</el-button>
      </span>
    </el-dialog>

    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" :total="total" layout="prev, pager, next, jumper,total">
    </el-pagination>
  </div>
</template>

<script>
export default {
  name: 'Role',
  data () {
    return {
      roleSearch: '',
      searchValue: '',
      tableData: [],
      currentPage: 1,
      pageSize: 10,
      total: 100,
      Height: window.innerHeight - 242,
      checkId: [],
      formAddRole: {
        id: '',
        roleName: ''
      },
      dialogFormVisible: false,
      centerDialogVisible: false,

      rules: {
        roleName: [
          { required: true, message: '请输入角色名', trigger: 'blur' },
        ],
      }

    }
  },

  watch: {
    tableData: {
      handler (newName, oldName) {
        if (newName.length == 0) {
          if (this.currentPage == 1) {
            this.getRole();
          }
          else if (this.currentPage > 1) {
            this.currentPage = this.currentPage - 1
            this.getRole();
          }

        }

      }
    }
  },


  mounted () {
    this.getRole()

  },

  methods: {



    //获取角色数据
    async getRole () {
      let result = await this.$api.role.getPageList(this.currentPage, this.pageSize, this.searchValue)
      this.tableData = result.data.items
      this.total = result.data.total
    },

    //搜索角色名
    search () {
      this.searchValue = this.roleSearch
      this.currentPage = 1
      this.getRole()
    },

    //重置搜索内容
    resetSearch () {
      if (this.roleSearch && this.searchValue) {
        this.roleSearch = ''
        this.searchValue = this.roleSearch
        this.currentPage = 1
        this.getRole()
      } else {
        this.roleSearch = ''
      }
    },

    //勾选单个复选框
    checked (selection, row) {
      let checkId = []
      selection.forEach(i => {
        checkId.push(i.id)
      });
      this.checkId = checkId
    },

    //全部勾选复选框
    checkedAll (selection) {
      let checkId = []
      selection.forEach(i => {
        checkId.push(i.id)
      });
      this.checkId = checkId
    },

    //打开添加角色窗口
    addRole () {
      this.dialogFormVisible = true
    },

    //添加角色
    submit () {
      this.$refs.formAddRole.validate(async (valid) => {
        if (valid) {
          if (!this.formAddRole.id) {
            try {
              let result = await this.$api.role.save(this.formAddRole)
              this.$message({
                message: result.message,
                type: 'success'
              })
            } catch (error) {

            }
          } else {
            try {
              let result = await this.$api.role.updateById(this.formAddRole)
              this.$message({
                message: result.message,
                type: 'success'
              })
            } catch (error) {

            }
          }
          this.formAddRole = {
            id: '',
            roleName: ''
          }
          this.dialogFormVisible = false
          this.getRole()
        }
      })
    },

    //打开修改角色窗口
    editRole (row) {
      this.dialogFormVisible = true
      this.formAddRole.roleName = row.roleName
      this.formAddRole.id = row.id

    },

    //关闭添加/修改 角色窗口
    cancel () {
      this.dialogFormVisible = false
      this.formAddRole = {
        id: '',
        roleName: ''
      }

    },

    //跳转到当前角色权限页面
    async addAuth (row) {
      this.$router.push({
        name: 'Auth',
        query: {
          id: row.id
        }
      })
    },

    //删除角色
    async deleteRole (row) {
      try {
        let result = await this.$api.role.removeById(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.$refs.multipleTable.clearSelection()
        this.checkId = []
        this.getRole()
      } catch (error) {

      }
    },

    //批量删除所有角色
    async deleteAllRole () {
      try {
        let result = await this.$api.role.removeRoles(this.checkId)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.$refs.multipleTable.clearSelection()
        this.checkId = []
        this.centerDialogVisible = false
        this.getRole()
      } catch (error) {

      }

    },

    handleSizeChange (val) {
      this.currentPage = val
      this.getRole()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getRole()
    },
  }
}
</script>

<style  scoped>
.table {
  margin-top: 10px;
}
.el-pagination {
  text-align: center;
  margin-top: 20px;
}

::v-deep .el-pagination__total {
  margin-left: 15px;
}

.el-button--mini {
  margin-left: 10px;
}
.el-row {
  margin-bottom: 10px;
}
.search_input {
  margin-right: 10px;
}
.el-tag {
  margin: 2px 2px;
}
</style>