<template>
  <div>
    <el-form :model="spuForm" ref="spuForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="SPU名称">
        <el-input v-model="spuForm.spuName" style="width:25%"></el-input>
      </el-form-item>

      <el-form-item label="品牌">
        <el-select v-model="spuForm.trademarkId" placeholder="请选择品牌">
          <el-option :label="i.tmName" :value="i.id" v-for="i in spuForm.trademarkList" :key="i.id"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="SPU描述">
        <el-input type="textarea" :rows="3" v-model="spuForm.spuDescription" style="width:25%"></el-input>
      </el-form-item>

      <el-form-item label="SPU图片">
        <el-upload action="/dev-api/admin/product/fileUpload" :file-list="spuForm.spuImageList" list-type="picture-card" :on-success="pictureSubmitSuccess" :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="spuForm.dialogVisible">
          <img width="100%" :src="spuForm.dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>

      <!-- <el-form-item label="销售属性">
        <el-select v-model="spuForm.saleAttrListValue" placeholder="请选择属性名">
          <el-option :label="i.name" :value="i.id" v-for="i in spuForm.saleAttrList" :key="i.id"></el-option>
        </el-select>
        <el-button icon="el-icon-plus" type="primary" class="x">添加销售属性</el-button>
      </el-form-item> -->
      <el-form-item label="销售属性">
        <el-select v-model="spuForm.saleAttrListValue" :placeholder="`还有${unSelectSaleAttr.length}未选择`">
          <el-option :label="i.name" :value="`${i.id}:${i.name}`" v-for="i in unSelectSaleAttr" :key="i.id"></el-option>
        </el-select>
        <el-button icon="el-icon-plus" type="primary" class="x" @click="addSaleAttr" :disabled='spuForm.saleAttrListValue?false:true'>添加销售属性</el-button>
      </el-form-item>

      <el-table :data="spuData" border style="width: 100%">
        <el-table-column type="index" label="序号" width="50px" align="center">
        </el-table-column>
        <el-table-column prop="saleAttrName" label="属性名" width="150" align="center">
        </el-table-column>

        <el-table-column label="属性值名称列表" header-align="center">
          <template slot-scope="scope">
            <el-tag :key="tag.id" v-for="tag in scope.row.spuSaleAttrValueList" closable :disable-transitions="false" @close="deleteTag(tag.saleAttrValueName,scope.row)">
              {{tag.saleAttrValueName}}
            </el-tag>
            <el-input class="input-new-tag" v-if="scope.row.inputVisible" v-model="scope.row.inputValue" ref="saveTagInput" size="small" @keyup.enter.native="handleInputConfirm(scope.row)" @blur="handleInputConfirm(scope.row)">
            </el-input>
            <el-button v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
          </template>
        </el-table-column>

        <el-table-column label="操作" width="150px" align="center">
          <template slot-scope="scope">
            <el-button size="mini" icon="el-icon-delete" type="danger" @click="deleteSpuAttrName(scope.$index, scope.row) "></el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-form-item class="bottom-Btn">
        <el-button type="primary" @click="submit('spuForm')">{{spuId?'保存':'创建'}}</el-button>
        <el-button @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>


export default {
  name: 'SpuForm',
  data() {
    return {
      spuForm: {
        spuName: '',   //spu名称
        spuDescription: '', //spu内容
        trademarkList: [],  //品牌列表
        trademarkId: '',     //默认选中的品牌
        spuImageList: [],    //图片列表
        dialogImageUrl: '',  //打开哪个图片
        dialogVisible: false, //查看图片大图
        saleAttrList: [],   //销售属性列表
        saleAttrListValue: '',//选择中的销售属性列表值
      },
      spuId: '',
      spuData: [], //销售属性表格
      category3Id: '',
    }
  },

  computed: {
    unSelectSaleAttr() {
      return this.spuForm.saleAttrList.filter((i) => {
        return this.spuData.every((i1) => {
          return i.name != i1.saleAttrName
        })
      })
    }

  },

  methods: {
    //点击父亲编辑spu,获取数据
    async spuInfo(row) {
      let result1 = await this.$api.spu.reqSpuNameDescList(row.id)
      this.spuForm.spuName = result1.data.spuName
      this.spuForm.spuDescription = result1.data.description
      this.category3Id = result1.data.category3Id
      this.spuForm.trademarkId = result1.data.tmId
      this.spuId = result1.data.id

      let spuSaleAttrListArr = result1.data.spuSaleAttrList  //获取以选中的销售属性
      spuSaleAttrListArr.forEach(i => {
        i.inputValue = '',
          i.inputVisible = false
      });
      this.spuData = spuSaleAttrListArr


      let result2 = await this.$api.spu.reqSpuTrademarkList()   //获取品牌
      this.spuForm.trademarkList = result2.data

      let result3 = await this.$api.spu.reqSpuImageList(row.id)   //获取spu图片
      let spuImageListArr = result3.data
      spuImageListArr.forEach(i => {
        i.name = i.imgName
        i.url = i.imgUrl
      });
      this.spuForm.spuImageList = spuImageListArr


      let result4 = await this.$api.spu.reqSaleAttrList()  //获取销售属性
      this.spuForm.saleAttrList = result4.data
    },

    async addSpuInfo(categoryId) {
      this.category3Id = categoryId
      let result2 = await this.$api.spu.reqSpuTrademarkList()  //获取品牌
      this.spuForm.trademarkList = result2.data

      let result4 = await this.$api.spu.reqSaleAttrList()  //获取销售属性
      this.spuForm.saleAttrList = result4.data
    },


    //添加属性
    addSaleAttr() {
      let id = this.spuForm.saleAttrListValue.split(':')[0]
      let name = this.spuForm.saleAttrListValue.split(':')[1]
      let newSaleAttr = {
        baseSaleAttrId: id,
        inputValue: "",
        inputVisible: false,
        saleAttrName: name,
        spuSaleAttrValueList: []
      }
      this.spuData.push(newSaleAttr)
      this.spuForm.saleAttrListValue = ''
    },

    //删除表格属性
    deleteSpuAttrName(index, row) {
      this.spuData.splice(index, 1)
    },

    //删除销售属性值标签
    deleteTag(tag, row) {
      row.spuSaleAttrValueList.forEach(i => {
        if (i.saleAttrValueName == tag) {
          row.spuSaleAttrValueList.splice(row.spuSaleAttrValueList.indexOf(i), 1);
        }
      });
    },

    //点击销售属性值标签后变成输入框
    showInput(row) {
      row.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    //销售属性输入框变成销售属性值标签
    handleInputConfirm(row) {
      let arr = []
      row.spuSaleAttrValueList.forEach(i => {
        arr.push(i.saleAttrValueName)
      });

      let inputValue = row.inputValue;
      if (inputValue.trim() == '') {
        this.$message({
          message: '销售属性值不能为空',
          type: 'error'
        })
      }
      else if (arr.indexOf(inputValue) != -1) {
        this.$message({
          message: '销售属性值不能重复',
          type: 'error'
        })
      }
      else {
        row.spuSaleAttrValueList.push({ baseSaleAttrId: row.baseSaleAttrId, saleAttrValueName: inputValue })
        row.inputVisible = false;
        row.inputValue = '';
      }

    },

    //上传图片
    pictureSubmitSuccess(response, file, fileList) {
      if (response.code != 200) {
        this.$message({
          message: '图片上传失败',
          type: 'error'
        })
        fileList.pop()
      } else {
        file.imgName = file.name
        file.imgUrl = file.response.data
        this.spuForm.spuImageList.push(file)
      }

    },

    //删除图片
    handleRemove(file, fileList) {
      this.spuForm.spuImageList = fileList

    },

    //查看图片
    handlePictureCardPreview(file) {
      this.spuForm.dialogImageUrl = file.url;
      this.spuForm.dialogVisible = true;
    },

    //关闭spu新增/编辑卡片
    cancel() {
      this.spuForm = {
        spuName: '',   //spu名称
        spuDescription: '', //spu内容
        trademarkList: [],  //品牌
        trademarkId: '',     //品牌
        spuImageList: [],    //图片
        dialogImageUrl: '',  //图片
        dialogVisible: false, //图片
        saleAttrList: [],   //销售属性
        saleAttrListValue: '',//销售属性
      }
      this.spuId = '',
        this.category3Id = ''
      this.tmId = ''
      this.spuData = []
      this.$emit('isShow', 0)
    },

    //提交
    async submit() {
      let spuInfo = {
        id: this.spuId,
        category3Id: this.category3Id,
        spuName: this.spuForm.spuName,
        description: this.spuForm.spuDescription,
        tmId: this.spuForm.trademarkId,
        spuImageList: this.spuForm.spuImageList,
        spuSaleAttrList: this.spuData,
      }
      if (this.spuId) {
        try {
          let result1 = await this.$api.spu.reqUpdateSpu(spuInfo)
          this.$message({
            message: result1.message,
            type: 'success'
          })
          this.$emit('submitcloseSpuCard', 0)
          this.spuForm = {
            spuName: '',   //spu名称
            spuDescription: '', //spu内容
            trademarkList: [],  //品牌
            trademarkId: '',     //品牌
            spuImageList: [],    //图片
            dialogImageUrl: '',  //图片
            dialogVisible: false, //图片
            saleAttrList: [],   //销售属性
            saleAttrListValue: '',//销售属性
          }
          this.spuId = '',
            this.category3Id = ''
          this.tmId = ''
          this.spuData = []
        } catch (error) {
        }
      } else {
        try {
          let result2 = await this.$api.spu.reqAddSpu(spuInfo)
          this.$message({
            message: result2.message,
            type: 'success'
          })
          this.$emit('submitcloseSpuCard', 0)
          this.spuForm = {
            spuName: '',   //spu名称
            spuDescription: '', //spu内容
            trademarkList: [],  //品牌
            trademarkId: '',     //品牌
            spuImageList: [],    //图片
            dialogImageUrl: '',  //图片
            dialogVisible: false, //图片
            saleAttrList: [],   //销售属性
            saleAttrListValue: '',//销售属性
          }
          this.spuId = '',
            this.category3Id = ''
          this.tmId = ''
          this.spuData = []
        } catch (error) {

        }
      }




    },

  },


}
</script>

<style scoped>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

.bottom-Btn {
  margin-top: 1%;
  text-align: center;
}

::v-deep .bottom-Btn .el-form-item__content {
  margin-left: 0px !important;
}
</style>