<template>
  <div>
    <el-card class="box-card-1">
      <CategorySelect @categoryId='getCategoryId' :categorySelectDisabled='isShow==0?false:true'></CategorySelect>
    </el-card>

    <el-card class="box-card-2">
      <div v-show="isShow==0">
        <el-button type="primary" icon="el-icon-plus" @click="handleAdd" :disabled='categoryId.category3Id?false:true'>新增SPU</el-button>
        <el-table :data="spuInfoList" border style="width: 100%" :height="Height">
          <el-table-column type="index" label="序号" width="50" align="center">
          </el-table-column>
          <el-table-column label="spu名称" prop="spuName" align="center">
          </el-table-column>
          <el-table-column label="spu描述" prop="description" header-align="center">
          </el-table-column>
          <el-table-column label="操作" width="400" align="center">
            <template slot-scope="scope" class="btn">
              <el-button size="mini" @click="addSku(scope.$index, scope.row)" icon="el-icon-plus" type="primary"></el-button>
              <el-button size="mini" @click="editSpu(scope.$index, scope.row)" icon="el-icon-edit" type="warning"></el-button>
              <el-tooltip class="item" effect="dark" content="查看SKU列表信息" placement="top">
                <el-button size="mini" icon="el-icon-info" type="info" @click="skuList(scope.$index, scope.row)"></el-button>
              </el-tooltip>
              <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="deleteSpu(scope.$index, scope.row)">
                <el-button size="mini" icon="el-icon-delete" type="danger" slot="reference"></el-button>
              </el-popconfirm>
            </template>
          </el-table-column>
        </el-table>
        <el-dialog :title="`【${spuName}】 SKU信息`" :visible.sync="dialogTableVisible" :before-close='closeDialog'>
          <el-table :data="skuData" height="600px">
            <el-table-column property="skuName" label="名称" align="center"></el-table-column>
            <el-table-column property="price" label="价格" align="center"></el-table-column>
            <el-table-column property="weight" label="重量" align="center"></el-table-column>
            <el-table-column property="address" label="默认图片" align="center">
              <template slot-scope="scope">
                <img :src="scope.row.skuDefaultImg" style="width:100px">
              </template>
            </el-table-column>
          </el-table>
        </el-dialog>
        <div class="block" v-if="spuInfoList[0]?true:false">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" :total="total" layout="prev, pager, next, jumper,total">
          </el-pagination>
        </div>
      </div>

      <SpuForm v-show="isShow==1" @isShow='closeSpuCard' @submitcloseSpuCard='submitcloseSpuCard' ref="spu"></SpuForm>
      <SkuForm v-show="isShow==2" @isShow='closeSpuCard' @submitcloseSpuCard='submitcloseSpuCard' ref="sku"></SkuForm>

    </el-card>
  </div>
</template>

<script>

import CategorySelect from '../../../components/categorySelect/index.vue'
import SpuForm from './spuForm'
import SkuForm from './skuForm'

export default {
  name: 'Spu',
  data () {
    return {
      spuInfoList: [],
      categoryId: {},

      Height: window.innerHeight - 328,
      isShow: 0,

      currentPage: 1,
      pageSize: 10,
      total: 0,

      dialogTableVisible: false,

      skuData: [],
      spuName: ''

    }


  },
  //监听当前页面数据是否存在，没有的话加载上一页数据
  watch: {
    spuInfoList: {
      handler (newName, oldName) {
        if (newName.length == 0) {
          if (this.currentPage != 1) {
            this.currentPage = this.currentPage - 1
            this.getSpuInfoList();
          }
        }

      }
    }
  },

  methods: {
    //获取spu列表数据
    async getSpuInfoList () {
      try {
        let result = await this.$api.spu.reqSpuInfoList(this.currentPage, this.pageSize, this.categoryId.category3Id)
        this.spuInfoList = result.data.records
        this.total = result.data.total
      } catch (error) {

      }
    },

    //接收子组件分类categoryId
    getCategoryId (value) {
      this.categoryId = value
      if (this.categoryId.category3Id) {
        this.getSpuInfoList()
      } else {
        this.spuInfoList = []
      }

    },

    //打开sku弹窗
    async skuList (index, row) {
      this.dialogTableVisible = true
      try {
        let result = await this.$api.sku.reqSkuList(row.id)
        console.log(33);
        this.skuData = result.data
        this.spuName = row.spuName
      } catch (error) {

      }

    },

    //关闭sku弹窗后清除数据
    closeDialog (done) {
      this.spuName = ''
      this.skuData = []
      done()
    },


    //切换到sku卡片
    addSku (index, row) {
      this.isShow = 2
      this.$refs.sku.addSkuInfo(row, this.categoryId)

    },



    //切换到新增spu卡片
    handleAdd () {
      this.isShow = 1
      this.$refs.spu.addSpuInfo(this.categoryId.category3Id)

    },

    //切换到修改Spu卡片
    editSpu (index, row) {
      this.$refs.spu.spuInfo(row)
      this.isShow = 1

    },


    //关闭 新增/修改spu卡片
    closeSpuCard (value) {
      this.isShow = value
    },

    //新增/保存spu信息后关闭卡片
    submitcloseSpuCard (value) {
      this.isShow = value
      this.getSpuInfoList()
    },

    //删除spu
    async deleteSpu (index, row) {
      try {
        let result = await this.$api.spu.reqDeleteSpu(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getSpuInfoList()
      } catch (error) {
      }

    },

    //输入页码，获取第几页数据
    handleSizeChange (val) {
      this.currentPage = val;
      this.getSpuInfoList()

    },

    //点击页码，获取第几页数据
    handleCurrentChange (val) {
      this.currentPage = val;
      this.getSpuInfoList()
    },


  },
  components: {
    CategorySelect,
    SpuForm,
    SkuForm,
  },
}
</script>

<style scoped>
.box-card-2 {
  margin-top: 10px;
}

.box-card-2 .el-table {
  margin-top: 10px;
}

.el-pagination {
  text-align: center;
  margin-top: 20px;
}

::v-deep .el-pagination__total {
  margin-left: 15px;
}
.x {
  margin-left: 10px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.cell .el-button {
  margin-left: 10px;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>