<template>
  <div>
    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">添加</el-button>
    <el-table :data="tradeMarkList.records" border style="width: 100%" :resizable="false" :height="Height">
      <el-table-column type="index" label="序号" align="center">
      </el-table-column>
      <el-table-column prop="tmName" label="品牌名称" align="center">
      </el-table-column>
      <el-table-column label="品牌LOGO" align="center">
        <template slot-scope="{ row }">
          <img :src="row.logoUrl" />
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" type="warning" icon="el-icon-edit"></el-button>
          <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="handleDelete(scope.$index, scope.row)">
            <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <div class="block">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper,total" :total="tradeMarkList.total">
      </el-pagination>
    </div>
    <el-dialog :title='title' :visible.sync="dialogFormVisible" width="700px" :close-on-click-modal='false'>
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item label="品牌名称" prop="tmName">
          <el-input v-model="form.tmName" style="width: 150px"></el-input>
        </el-form-item>
        <el-form-item label="品牌LOGO" prop="logoUrl">
          <el-upload class="avatar-uploader" action="/dev-api/admin/product/fileUpload" :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
            <img v-if="form.logoUrl" :src="form.logoUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <div>只能上传jpg/jpeg文件，且不超过2M</div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel()">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

export default {
  tmName: "TradeMark",
  data () {
    return {
      currentPage: 1,
      pageSize: 10,
      tradeMarkList: {},

      dialogFormVisible: false,
      form: {
        tmName: "",
        logoUrl: '',
      },
      id: '',
      title: '添加品牌',
      Height: window.innerHeight - 190,

      rules: {
        tmName: [
          { required: true, message: '请输入品牌名称', trigger: 'blur' },
          { max: 8, message: '长度不超过8个字符', trigger: 'blur' }
        ],
        logoUrl: [
          { required: true, message: '请上传图片' }
        ]
      }

    };
  },

  mounted () {
    this.getTradeMarkList();
  },

  methods: {
    //获取品牌数据
    async getTradeMarkList () {
      let relust = await this.$api.tradeMark.reqTradeMark(this.currentPage, this.pageSize);
      if (relust.code == 200) {
        this.tradeMarkList = relust.data;
      } else {
        this.$message({
          message: relust.data,
          type: "error",
        });
      }
    },

    //打开添加窗口
    handleAdd () {
      this.dialogFormVisible = true
      this.title = '添加品牌'
    },


    //提交
    submit () {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          if (!this.id) {
            let result = await this.$api.tradeMark.reqAddTradeMark(this.form)
            if (result.code == 200) {
              this.dialogFormVisible = false
              this.form.logoUrl = ''
              this.form.tmName = ''
              this.getTradeMarkList()
            } else {
              this.$message({
                message: result.message,
                type: 'error'
              })
            }
          } else {
            let result = await this.$api.tradeMark.reqUpdateTradeMark(this.form)
            if (result.code == 200) {
              this.dialogFormVisible = false
              this.form.logoUrl = ''
              this.form.tmName = ''
              this.form.id = ''
              this.id = ''
              this.getTradeMarkList();
            } else {
              this.$message({
                message: result.message,
                type: 'error'
              })
            }
          }
        }
      });
    },


    //取消
    cancel () {
      this.$refs.form.resetFields();
      this.dialogFormVisible = false
      this.form.logoUrl = ''
      this.form.tmName = ''

    },


    //编辑
    async handleEdit (index, row) {
      this.dialogFormVisible = true
      this.title = '修改品牌'
      this.id = row.id
      this.form['id'] = this.id
    },

    //删除
    async handleDelete (index, row) {
      try {
        var result = await this.$api.tradeMark.reqDeleteTradeMark(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getTradeMarkList()
      } catch (error) {

      }

    },


    //输入页码，获取第几页数据
    handleSizeChange (val) {
      this.currentPage = val;
      this.getTradeMarkList();
    },

    //点击页码，获取第几页数据
    handleCurrentChange (val) {
      this.currentPage = val;
      this.getTradeMarkList();
    },



    handleAvatarSuccess (res, file) {
      if (file.response.code == 200) {
        this.form.logoUrl = res.data
      } else {
        this.$message({
          message: '上传' + file.response.message,
          type: 'error'
        })
      }

    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!');
      }
      return isJPG && isLt2M;
    },
  },

  //监听当前页面数据是否存在，没有的话加载上一页数据
  watch: {
    tradeMarkList: {
      handler (newName, oldName) {
        if (newName.records.length == 0) {
          if (this.currentPage != 1) {
            this.currentPage = this.currentPage - 1
            this.getTradeMarkList();
          }
        }
      }
    }
  },
};
</script>

<style scoped>
.el-table {
  margin-top: 10px;
}
.el-pagination {
  text-align: center;
  margin-top: 20px;
}
::v-deep .el-pagination__total {
  margin-left: 15px;
}

::v-deep .el-pagination__sizes {
  float: right;
}

img {
  width: 35px;
  height: 35px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-button--mini {
  margin-left: 10px;
}
</style>
