<template>
  <div>
    <el-row>
      <el-input class="search_input" v-model="userSearch" placeholder="输入用户名" style="width:208px"></el-input>
      <el-button type="primary" @click="search" icon="el-icon-search">查询</el-button>
      <el-button @click="resetSearch" style="width:89px">清空</el-button>
    </el-row>
    <el-row>
      <el-button type="primary" @click="addUser" style="width:98px">添加</el-button>
      <el-button :disabled="checkId.length>0?false:true" type="danger" @click="centerDialogVisible=true">批量删除</el-button>
    </el-row>
    <el-table :data="tableData" border style="width: 100%" class="table" :height="Height" @select="checked" @select-all='checkedAll' :row-key="row=>row.id" ref="multipleTable">
      <el-table-column type="selection" width="50" :reserve-selection="true">
      </el-table-column>
      <el-table-column prop="username" label="用户名" align='center'>
      </el-table-column>
      <el-table-column prop="nickName" label="用户昵称" align='center'>
      </el-table-column>
      <el-table-column label="角色" align='center'>
        <template slot-scope="scope">
          <el-tag v-for="i in  scope.row.roleNames" :key="i.id">{{i}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="gmtCreate" label="创建时间" align='center'>
      </el-table-column>
      <el-table-column prop="gmtModified" label="修改时间" align='center'>
      </el-table-column>
      <el-table-column label="操作" align='center'>
        <template slot-scope="scope">
          <el-button size="mini" type="info" icon="el-icon-user-solid" @click="addRole(scope.row)"></el-button>
          <el-button size="mini" type="primary" icon="el-icon-edit" @click="editUser(scope.row)"></el-button>
          <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="deleteUser(scope.row)">
            <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" :total="total" layout="prev, pager, next, jumper,total">
    </el-pagination>

    <el-dialog :title="!formAddUser.id?'添加用户':'修改用户'" :visible.sync="dialogFormVisible" width="550px">
      <el-form :model="formAddUser" :rules="rules" ref="formAddUser">
        <el-form-item label="用户名" label-width="120px" prop="username">
          <el-input v-model="formAddUser.username" style="width:300px"></el-input>
        </el-form-item>
        <el-form-item label="用户昵称" label-width="120px" prop="nickName">
          <el-input v-model="formAddUser.nickName" style="width:300px"></el-input>
        </el-form-item>
        <el-form-item v-show="!formAddUser.id" label="用户密码" label-width="120px" :prop="!formAddUser.id?'password':''">
          <el-input v-model="formAddUser.password" style="width:300px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="设置角色" :visible.sync="dialogFormVisible2" width="550px">
      <el-form>
        <el-form-item label="用户名" label-width="120px">
          <el-input style="width:300px" v-model="formAddUser.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色列表" label-width="120px">
          <el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
          <div style="margin: 15px 0;"></div>
          <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
            <el-checkbox v-for="i in allRolesList" :label="i.id" :key="i.id">{{i.roleName}}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="save">保 存</el-button>
        <el-button @click="cancel2">取 消</el-button>
      </div>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="centerDialogVisible" width="30%">
      <span>确定要删除这些用户吗？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteAllUser">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

export default {
  name: 'User',
  data () {
    return {
      userSearch: '',
      searchValue: '',
      tableData: [],
      currentPage: 1,
      pageSize: 10,
      total: 100,
      Height: window.innerHeight - 242,
      dialogFormVisible: false,
      dialogFormVisible2: false,
      centerDialogVisible: false,

      formAddUser: {
        id: "",
        nickName: "",
        password: "",
        username: "",
      },
      allRolesList: [],
      cities: [],
      checkedCities: [],
      checkAll: false,
      checkId: [],

      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
        ],
        password: [
          { required: true, message: '请输入用户密码', trigger: 'blur' },
        ]
      }
    }
  },

  mounted () {
    this.getUser()
  },

  watch: {
    tableData: {
      handler (newName, oldName) {
        if (newName.length == 0) {
          if (this.currentPage == 1) {
            this.getUser();
          }
          else if (this.currentPage > 1) {
            this.currentPage = this.currentPage - 1
            this.getUser();
          }

        }

      }
    }
  },

  methods: {
    //获取用户数据
    async getUser () {
      let result = await this.$api.user.getPageList(this.currentPage, this.pageSize, this.searchValue)
      let roleNameArr = result.data.items
      this.total = result.data.total
      roleNameArr.forEach(i => {
        if (i.roleName) {
          i.roleNames = i.roleName.split(',')
        } else {
          i.roleNames = []
        }
      })
      this.tableData = roleNameArr

    },


    //搜索用户名
    search () {
      this.searchValue = this.userSearch
      this.currentPage = 1
      this.getUser()
    },

    //重置搜索内容
    resetSearch () {
      if (this.userSearch && this.searchValue) {
        this.userSearch = ''
        this.searchValue = this.userSearch
        this.currentPage = 1
        this.getUser()
      } else {
        this.userSearch = ''
      }

    },

    //勾选单个复选框
    checked (selection, row) {
      let checkId = []
      selection.forEach(i => {
        checkId.push(i.id)
      });
      this.checkId = checkId
    },

    //全部勾选复选框
    checkedAll (selection) {
      let checkId = []
      selection.forEach(i => {
        checkId.push(i.id)
      });
      this.checkId = checkId
    },

    //打开添加用户窗口
    addUser () {
      this.dialogFormVisible = true
    },

    //添加用户
    submit () {
      this.$refs.formAddUser.validate(async (valid) => {
        if (valid) {
          if (!this.formAddUser.id) {
            try {
              let result = await this.$api.user.add(this.formAddUser)
              this.$message({
                message: result.message,
                type: 'success'
              })
            } catch (error) {

            }
          } else {
            try {
              let result = await this.$api.user.update(this.formAddUser)
              this.$message({
                message: result.message,
                type: 'success'
              })
            } catch (error) {

            }
          }
          this.formAddUser = {
            id: "",
            nickName: "",
            password: "",
            username: "",
          }
          this.dialogFormVisible = false
          this.getUser()
        }
      })

    },

    //打开修改用户窗口
    async editUser (row) {
      this.dialogFormVisible = true
      try {
        let result = await this.$api.user.getById(row.id)
        let data = result.data.item
        this.formAddUser = {
          id: data.id,
          nickName: data.nickName,
          username: data.username,
        }
      } catch (error) {

      }
    },

    //关闭添加/修改 用户窗口
    cancel () {
      this.dialogFormVisible = false
      this.formAddUser = {
        id: "",
        nickName: "",
        password: "",
        username: "",
      }
    },


    //打开添加角色窗口
    async addRole (row) {
      this.dialogFormVisible2 = true
      this.formAddUser.username = row.username
      this.formAddUser.id = row.id
      try {
        let result = await this.$api.user.getRoles(row.id)
        this.allRolesList = result.data.allRolesList
        let allRolesListArr = []
        this.allRolesList.forEach(i => {
          allRolesListArr.push(i.id)
        })
        this.cities = allRolesListArr

        let assignRoles = result.data.assignRoles
        assignRoles.forEach(i => {
          this.checkedCities.push(i.id)
        });
        this.checkAll = this.cities.length === this.checkedCities.length

      } catch (error) {

      }

    },

    handleCheckAllChange (val) {
      this.checkedCities = val ? this.cities : [];

    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      this.checkAll = checkedCount === this.cities.length;
    },

    //添加角色
    async save () {
      let str = this.checkedCities.toString()
      try {
        let result = await this.$api.user.assignRoles(this.formAddUser.id, str)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getUser()
        this.dialogFormVisible2 = false
        this.formAddUser.id = ''
        this.formAddUser.username = ''
        this.checkedCities = []
      } catch (error) {

      }


    },

    //关闭添加角色窗口
    cancel2 () {
      this.dialogFormVisible2 = false
      this.checkedCities = []
      this.formAddUser.id = ''
      this.formAddUser.username = ''
    },


    //删除单个用户
    async deleteUser (row) {
      try {
        let result = await this.$api.user.removeById(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.$refs.multipleTable.clearSelection()
        this.checkId = []
        this.getUser()
      } catch (error) {

      }
    },


    //批量删除所有用户
    async deleteAllUser () {
      try {
        let result = await this.$api.user.removeUsers(this.checkId)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.centerDialogVisible = false
        this.$refs.multipleTable.clearSelection()
        this.checkId = []
        this.getUser()
      } catch (error) {

      }
    },

    handleSizeChange (val) {
      this.currentPage = val
      this.getUser()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getUser()
    },
  }
}
</script>

<style  scoped>
.table {
  margin-top: 10px;
}
.el-pagination {
  text-align: center;
  margin-top: 20px;
}

::v-deep .el-pagination__total {
  margin-left: 15px;
}

.el-button--mini {
  margin-left: 10px;
}
.el-row {
  margin-bottom: 10px;
}
.search_input {
  margin-right: 10px;
}
.el-tag {
  margin: 2px 2px;
}
</style>
