<template>
  <div>
    <el-card>
      <el-tree :data="data" ref="tree" show-checkbox node-key="id" :default-expanded-keys="['1']" highlight-current :default-checked-keys="checkList" :props="defaultProps">
      </el-tree>
      <el-row v-show="data.length>0?true:false">
        <el-button type="primary" @click="submit">保存</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-row>
    </el-card>

  </div>
</template>

<script>

export default {
  name: 'Auth',
  data() {
    return {
      data: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      checkList: [],
      roleId: ''
    }
  },

  mounted() {
    this.getRoleAuth()
  },

  methods: {
    //获取当前角色所有权限
    async getRoleAuth() {
      this.roleId = this.$route.query.id
      this.checkList = []
      try {
        let result = await this.$api.permission.toAssign(this.roleId)
        this.data = result.data.children
        this.check(this.data)
      } catch (error) {

      }

    },

    //获取接口数据，默认勾选权限
    check(data) {
      data.forEach(i => {
        if (i.children && i.children.length == 0 && i.select == true) {
          this.checkList.push(i.id)
        }
        if (i.children && i.children.length > 0) {
          return this.check(i.children)
        }
      })
    },

    //保存已勾选的角色权限
    async submit() {
      let currentNode = this.$refs.tree.getCheckedKeys()
      let parentNode = this.$refs.tree.getHalfCheckedKeys()
      let allNode = [...parentNode, ...currentNode]
      try {
        let result = await this.$api.permission.doAssign(this.roleId, String(allNode))
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.roleId = ''
        this.$router.back()
      } catch (error) {

      }
    },

    //返回到角色管理页面
    cancel() {
      this.roleId = ''
      this.$router.back()
    }
  }
}
</script>

<style scoped>
.el-row {
  text-align: center;
}
</style>