<template>
  <el-form :inline="true" :model="categoryId" class="demo-form-inline" :disabled='categorySelectDisabled'>
    <el-form-item label="一级分类">
      <el-select placeholder="请选择" v-model="categoryId.category1Id">
        <el-option :label="i.name" :value="i.id" v-for="i in category1List" :key="i.id"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="二级分类">
      <el-select placeholder="请选择" v-model="categoryId.category2Id">
        <el-option :label="i.name" :value="i.id" v-for="i in category2List" :key="i.id"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="三级分类">
      <el-select placeholder="请选择" v-model="categoryId.category3Id">
        <el-option :label="i.name" :value="i.id" v-for="i in category3List" :key="i.id"></el-option>
      </el-select>
    </el-form-item>
  </el-form>

</template>

<script>
export default {
  name: 'CategorySelect',
  data () {
    return {
      category1List: [],
      category2List: [],
      category3List: [],
      categoryId: {
        category1Id: '',
        category2Id: '',
        category3Id: ''
      },
    }
  },


  mounted () {
    this.reqCategory1List()
  },

  watch: {
    'categoryId.category1Id': {
      async handler () {
        this.categoryId.category2Id = ''
        this.categoryId.category3Id = ''
        this.category3List = []
        try {
          let result = await this.$api.attr.reqCategory2List(this.categoryId.category1Id)
          this.category2List = result.data
        } catch (error) {

        }
      },
    },
    'categoryId.category2Id': {
      async handler () {
        if (this.categoryId.category2Id) {
          this.categoryId.category3Id = ''
          try {
            let result = await this.$api.attr.reqCategory3List(this.categoryId.category2Id)
            this.category3List = result.data
          } catch (error) {

          }
        }
      }
    },
    'categoryId.category3Id': {
      async handler () {
        this.$emit('categoryId', this.categoryId)
      }
    },

  },

  methods: {
    async reqCategory1List () {
      try {
        let result = await this.$api.attr.reqCategory1List()
        this.category1List = result.data
      } catch (error) {
        this.$message({
          message: error,
          type: 'error'
        })
      }
    },
  },


  props: ['categorySelectDisabled']



}
</script>

<style lang="scss" scoped>
</style>