<template>
  <div>
    <el-form ref="skuForm" :model="skuForm" :rules="rules" label-width="100px">
      <el-form-item label="SPU名称">
        {{spuName}}
      </el-form-item>
      <el-form-item label="SKU名称" prop="skuName" style="width:30%">
        <el-input v-model="skuForm.skuName"></el-input>
      </el-form-item>
      <el-form-item label="价格" prop="price" style="width:30%">
        <el-input v-model="skuForm.price"></el-input>
      </el-form-item>
      <el-form-item label="重量(千克)" prop="weight" style="width:30%">
        <el-input v-model="skuForm.weight"></el-input>
      </el-form-item>
      <el-form-item label="规格描述" prop="desc" style="width:30%">
        <el-input type="textarea" v-model="skuForm.desc"></el-input>
      </el-form-item>

      <el-form-item label="平台属性" label-width="100px">
        <el-form :inline='true'>
          <el-form-item :label="attr.attrName" v-for="attr in skuForm.skuAttrValueList" :key="attr.id" style="margin-bottom:10px">
            <el-select placeholder="请选择" v-model="attr.attrNameAndValueId">
              <el-option :label="value.valueName" :value="`${attr.id}:${value.id}`" v-for="value in attr.attrValueList" :key="value.id"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-form-item>
      <el-form-item label="销售属性" label-width="100px" style="margin-bottom:10px">
        <el-form :inline='true'>
          <el-form-item :label="saleAttr.saleAttrName" v-for="saleAttr in skuForm.skuSaleAttrValueList" :key="saleAttr.id">
            <el-select v-model="saleAttr.saleAttrNameAndValueId" placeholder="请选择">
              <el-option :label="value.saleAttrName" :value="`${saleAttr.id}:${value.id}`" v-for="value in saleAttr.spuSaleAttrValueList" :key="value.id"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-form-item>

      <el-form-item label="图片列表">
        <el-table ref="multipleTable" :data="tableData" style="width: 100%" border>
          <el-table-column type="selection" width="40" align="center">
          </el-table-column>
          <el-table-column label="图片" align="center">
            <template slot-scope="scope">
              <el-image style="width: 100px; height: 100px" :src="scope.row.imgUrl" fit="fill"></el-image>
            </template>
          </el-table-column>
          <el-table-column prop="imgName" label="名称" align="center">
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-button v-if="0==scope.row.isDefault" size="mini" type="primary" @click="handleDefault(scope.$index, scope.row)">设为默认</el-button>
              <el-tag v-else type="success">默认</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>

      <el-form-item class="bottom-Btn">
        <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
        <el-button @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>

export default {
  name: 'skuForm',
  data() {
    return {
      skuForm: {
        skuName: '',
        price: '',
        weight: '',
        desc: '',
        spuAttr: [],
        skuAttrValueList: [],
        skuSaleAttrValueList: [],

      },
      categoryId: {},
      tableData: [],
      spuId: '',
      spuName: '',
      tmId: '',
      skuDefaultImg: '',

      rules: {
        skuName: [
          { required: true, message: '请输入名称', trigger: 'blur' },
        ],
        price: [
          { required: true, message: '请输入价格', trigger: 'blur' }
        ],
        weight: [
          { required: true, message: '请输入重量', trigger: 'blur' }
        ]

      }
    }


  },


  methods: {
    async addSkuInfo(row, categoryId) {
      let { id, spuName, tmId } = row
      this.spuId = id
      this.spuName = spuName
      this.tmId = tmId
      this.categoryId = categoryId
      let { category1Id, category2Id, category3Id } = this.categoryId
      let result1 = await this.$api.sku.reqAttrInfoList(category1Id, category2Id, category3Id)
      this.skuForm.skuAttrValueList = result1.data

      let result2 = await this.$api.sku.reqSpuSaleAttrList(row.id)
      this.skuForm.skuSaleAttrValueList = result2.data


      let result3 = await this.$api.sku.reqSpuImageList(row.id)
      let skuImageList = result3.data
      skuImageList.forEach(i => {
        i.isDefault = 0
        i.spuImgId = i.id
      });
      this.tableData = skuImageList

    },


    //设置默认图片
    handleDefault(index, row) {
      this.tableData.forEach(i => {
        i.isDefault = 0
      });
      row.isDefault = 1
      this.skuDefaultImg = row.imgUrl

    },

    //保存
    async submitForm() {
      let skuInfo = {
        category3Id: this.categoryId.category3Id,
        tmId: this.tmId,
        spuId: this.spuId,
        skuName: this.skuForm.skuName,
        price: this.skuForm.price,
        weight: this.skuForm.weight,
        skuDesc: this.skuForm.desc,
        skuDefaultImg: this.skuDefaultImg,
        skuAttrValueList: skuAttrValueListArr,
        skuSaleAttrValueList: skuSaleAttrValueListArr,
        skuImageList: this.tableData
      }

      let skuAttrValueListArr = []
      this.skuForm.skuAttrValueList.forEach(i => {
        if (i.attrNameAndValueId) {
          let [attrId, valueId] = i.attrNameAndValueId.split(':')
          skuAttrValueListArr.push({ attrId, valueId })
        }
      });


      let skuSaleAttrValueListArr = []
      this.skuForm.skuSaleAttrValueList.forEach(i => {
        if (i.saleAttrNameAndValueId) {
          let [saleAttrId, saleAttrValueId] = i.saleAttrNameAndValueId.split(':')
          skuSaleAttrValueListArr.push({ saleAttrId, saleAttrValueId })
        }
      });

      try {
        let result = await this.$api.sku.reqAddSku(skuInfo)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.$refs.skuForm.resetFields()
        this.skuForm = {}
        this.categoryId = {}
        this.tableData = []
        this.spuId = ''
        this.spuName = ''
        this.tmId = ''
        this.skuDefaultImg = ''
        this.$emit('isShow', 0)
      } catch (error) {

      }

    },

    //取消
    cancel() {
      this.$refs.skuForm.resetFields()
      this.skuForm = {}
      this.categoryId = {}
      this.tableData = []
      this.spuId = ''
      this.spuName = ''
      this.tmId = ''
      this.skuDefaultImg = ''
      this.$emit('isShow', 0)
    }


  }
}
</script>

<style scoped>
.bottom-Btn {
  margin-top: 1%;
  text-align: center;
}

::v-deep .bottom-Btn .el-form-item__content {
  margin-left: 0px !important;
}
</style>