<template>
  <div>
    <el-card class="box-card-1">
      <CategorySelect @categoryId='getCategoryId' :categorySelectDisabled='isShowAttrList?false:true'></CategorySelect>

    </el-card>
    <el-card class="box-card-2">
      <div v-show="isShowAttrList?true:false">
        <el-button type="primary" icon="el-icon-plus" @click="handleAdd" :disabled='!categoryId.category3Id'>新增属性</el-button>
        <el-table :data="attrInfoList" border style="width: 100%" :height="Height">
          <el-table-column type="index" label="序号" width="50" align="center">
          </el-table-column>
          <el-table-column label="属性名称" prop="attrName" align="center">
          </el-table-column>
          <el-table-column label="属性值" header-align="center">
            <template slot-scope="scope">
              <el-tag type="success" size="medium" v-for="i in scope.row.attrValueList" :key="i.id">{{i.valueName}}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="200" align="center">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" icon="el-icon-edit" type="warning"></el-button>
              <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="attrDelete(scope.$index, scope.row)">
                <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
              </el-popconfirm>
            </template>

          </el-table-column>
        </el-table>
      </div>

      <div v-show="isShowAttrList?false:true">
        <el-form :model="attrData" :rules="rules" ref="attrData" class="demo-ruleForm">
          <el-form-item label="属性名" prop="attrName">
            <el-input v-model="attrData.attrName" style="width: 150px"></el-input>
          </el-form-item>
          <el-row>
            <el-button type="primary" icon="el-icon-plus" @click="addAttrValue">添加属性值</el-button>
          </el-row>

          <el-table :data="attrData.attrValueList" border style="width: 100%">
            <el-table-column type="index" label="序号" width="50px" align="center">
            </el-table-column>
            <el-table-column label="属性值名称" header-align="center">
              <template slot-scope="scope">
                <el-form-item :prop="`attrValueList.${scope.$index}.valueName`" :rules="rules.attrValue">
                  <el-input v-model="scope.row.valueName"></el-input>
                </el-form-item>
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button size="mini" type="danger" @click="deleteAttrValue(scope.$index, scope.row)" icon="el-icon-delete"></el-button>
              </template>
            </el-table-column>
          </el-table>

          <el-form-item class="bottom-btn">
            <el-button type="primary" @click="submitForm">保存</el-button>
            <el-button @click="cancel">取消</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-card>

  </div>

</template>

<script>


import CategorySelect from '../../../components/categorySelect/index.vue'
export default {
  name: 'Attr',
  data () {
    var validatePass1 = (rule, value, callback) => {
      var value = value.replace(/(^\s*)|(\s*$)/g, "")


      if (value === '') {
        callback(new Error('请输入属性名'));
      }
      else {
        callback();
      }
    }

    var validatePass2 = (rule, value, callback) => {
      var value = value.replace(/(^\s*)|(\s*$)/g, "")
      if (value === '') {
        callback(new Error('请输入属性值'));
      }
      else {
        callback();
      }
    }

    return {
      attrInfoList: [],
      categoryId: {},

      isShowAttrList: true,
      attrData: {
        attrName: '',
        attrValueList: [],
        categoryId: '',
        categoryLevel: 3
      },
      Height: window.innerHeight - 290,
      rules: {
        attrName: [
          { required: true, validator: validatePass1, trigger: 'change' }
        ],
        attrValue: [
          { required: true, validator: validatePass2, trigger: "blur" }
        ]
      },
    }
  },

  methods: {
    //获取属性列表数据
    async getAttrInfoList () {
      let { category1Id, category2Id, category3Id } = this.categoryId
      let result = await this.$api.attr.reqAttrInfoList(category1Id, category2Id, category3Id)
      this.attrInfoList = result.data
    },

    //获取属性分类id
    getCategoryId (value) {
      this.categoryId = value
      if (this.categoryId.category3Id) {
        this.attrInfoList = []
        this.getAttrInfoList()
      } else {
        this.attrInfoList = []
      }
    },

    //切换到新增属性卡片
    handleAdd () {
      this.isShowAttrList = false
    },

    //删除属性
    async attrDelete (index, row) {
      try {
        var result = await this.$api.attr.reqDeleteAttr(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getAttrInfoList()
      } catch (error) {

      }

    },


    //切换到编辑属性卡片
    async handleEdit (inde, row) {
      this.isShowAttrList = false
      let result = await this.$api.attr.reqAttrValueInfo(row.id)
      this.attrData = {
        attrName: row.attrName,
        attrValueList: result.data,
        categoryId: row.categoryId,
        categoryLevel: 3,
        id: row.id
      }
    },

    //删除属性值
    deleteAttrValue (index, row) {
      this.attrData.attrValueList.splice(index, 1);
    },

    //添加属性值
    addAttrValue (evt) {
      let target = evt.target;
      if (target.nodeName == "SPAN") {
        target = evt.target.parentNode;
      }
      target.blur();
      this.attrData.attrValueList.unshift({
        attrId: undefined,
        valueName: ''
      })

    },

    //保存
    submitForm () {
      this.$refs.attrData.validate(async (valid) => {
        if (valid) {
          let length = this.attrData.attrValueList.length
          if (length < 1) {
            this.$message({
              message: '至少添加一个属性值',
              type: 'error'
            })
          } else {
            try {
              let result = await this.$api.attr.reqSaveAttrInfo(this.attrData)
              this.$message({
                message: result.message,
                type: 'success'
              })
              this.$refs.attrData.resetFields()
              this.isShowAttrList = true
              this.attrInfoList = []
              this.getAttrInfoList()
              this.attrData.attrName = ''
              this.attrData.attrValueList = []
              delete this.attrData.id
            } catch (error) {

            }
          }
        }
      })

    },

    //取消，返回上一层
    async cancel () {
      this.$refs.attrData.resetFields()
      this.isShowAttrList = true
      this.attrData = {
        attrName: '',
        attrValueList: [],
        categoryId: this.categoryId.category3Id,
        categoryLevel: 3,
      }
    }

  },
  components: {
    CategorySelect
  },
}
</script>

<style lang="scss" scoped>
.box-card-2 {
  margin-top: 10px;
}
.box-card-2 .el-table {
  margin-top: 10px;
}

.box-card-2 .el-tag {
  margin: 5px 5px;
}

.box-card-2 .el-table {
  margin-bottom: 10px;
}

.bottom-btn {
  text-align: center;
}

.el-button--mini {
  margin-left: 10px;
}
</style>