<template>
  <div>
    <el-table :data="tableData" style="width: 100%;" row-key="id" border :expand-row-keys="['1']" :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
      <el-table-column prop="name" label="名称" align='center'>
      </el-table-column>
      <el-table-column prop="code" label="权限值" align='center'>
      </el-table-column>
      <el-table-column prop="" label="跳转权限值" align='center'>
      </el-table-column>
      <el-table-column label="操作" align='center'>
        <template slot-scope="scope">
          <el-button :disabled='scope.row.level-1==3' size="mini" type="primary" icon="el-icon-plus" @click="addPermission(scope.row)"></el-button>
          <el-button size="mini" type="warning" icon="el-icon-edit" @click="centerDialogVisible=true"></el-button>
          <el-popconfirm title="这是一段内容确定删除吗？" @onConfirm="deletePermission(scope.row)">
            <el-button size="mini" type="danger" icon="el-icon-delete" slot="reference"></el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :title="level==1?'添加一级菜单':level==2?'添加二级菜单':'添加功能'" :visible.sync="dialogFormVisible" width="600px">
      <el-form :model="permissionForm" :rules="rules" ref="permissionForm">
        <el-form-item v-show="2==level || 3==level" label="父级名称">
          <el-input disabled v-model="permissionForm.parentName"></el-input>
        </el-form-item>
        <el-form-item label="名称" prop="name">
          <el-input v-model="permissionForm.name"></el-input>
        </el-form-item>
        <el-form-item label="功能权限值" prop="code">
          <el-input v-model="permissionForm.code"></el-input>
        </el-form-item>
        <el-form-item v-show="3==level" label="跳转路由权限值" prop="toCode">
          <el-input v-model="permissionForm.toCode"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="centerDialogVisible" width="30%">
      <span>此功能正在开发中</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Permission',
  data() {
    return {
      tableData: [],
      permissionForm: {
        name: '',
        code: '',
        toCode: '',
        parentName: ''
      },
      level: '',
      pid: '',
      type: '',
      dialogFormVisible: false,
      centerDialogVisible: false,


      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'blur' },
        ],
        code: [
          { required: true, message: '请输入功能权限值', trigger: 'blur' }
        ],
        toCode: [
          {}
        ]
      }
    }
  },

  mounted() {
    this.getPermission()
  },

  methods: {
    //获取菜单列表数据
    async getPermission() {
      let result = await this.$api.permission.getPermissionList()
      this.tableData = result.data.children
    },

    //打开添加菜单窗口
    addPermission(row) {
      this.level = row.level
      this.permissionForm.parentName = row.name
      this.pid = row.id
      if (this.level == 3) {
        this.type = 2
      } else {
        this.type = 1
      }
      this.dialogFormVisible = true
    },

    //保存菜单
    async submit() {
      let data = {
        code: this.permissionForm.code,
        level: this.level,
        name: this.permissionForm.name,
        pid: this.pid,
        toCode: this.permissionForm.toCode,
        type: this.type
      }
      try {
        let result = await this.$api.permission.addPermission(data)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.$refs.permissionForm.resetFields()
        this.dialogFormVisible = false
        this.getPermission()
      } catch (error) {

      }


    },

    //关闭菜单
    cancel() {
      this.$refs.permissionForm.resetFields()
      this.dialogFormVisible = false
    },

    //删除菜单
    async deletePermission(row) {
      try {
        let result = await this.$api.permission.removePermission(row.id)
        this.$message({
          message: result.message,
          type: 'success'
        })
        this.getPermission()
      } catch (error) {

      }
    }
  }
}

</script>

<style scoped>
.el-button--mini {
  margin-left: 10px;
}
</style>